setuptools==75.6.0
Pygments==2.18.0
alabaster==1.0.0
beautifulsoup4==4.12.3
black==24.10.0
celery==5.4.0
coverage==7.6.9
cryptography==43.0.3
dateparser==1.2.0
Django==3.2.20
django-cachalot==2.7.1
django-ckeditor-5==0.2.13
django-debug-toolbar==4.4.6
django-extensions==3.2.3
django-picklefield==3.2.0
django-webpack-loader==3.1.0
djangorestframework==3.15.2
drf-yasg==1.21.8
fake-useragent==1.5.1
future==1.0.0
rapidfuzz==3.10.1
gunicorn==23.0.0
hashids==1.3.1
interruptingcow==0.8
jsondiff==2.2.1
jsonschema==4.23.0
lxml==5.3.0
markdown==3.7
nltk==3.9.1
numpy==1.23.5
oauth2client==4.1.3
progressbar2==4.5.0
psycopg2-binary==2.9.10
pycodestyle==2.12.1
python-dateutil==2.9.0.post0
social-auth-core==4.5.4
social-auth-app-django==5.4.2
python-memcached==1.62
python-social-auth==0.2.21
pytz==2024.2
pywebpush==2.0.0
PyJWT[crypto]>=2.10.0
PyYAML==6.0.2
regex==2024.11.6
requests==2.32.3
rollbar==0.16.1
scipy==1.14.1
selenium==4.27.1
simplejson==3.19.3
Sphinx==8.2.0
sphinx-autobuild==2024.10.3
sphinx-rtd-theme==3.0.2
sphinxcontrib-inlinesyntaxhighlight==0.2
sphinxcontrib-websupport==2.0.0
supervisor==4.2.5
semly-webdriver-manager-fork==4.0.1
